<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Contact</title>
</head>
<body>

  <div class="container my-3 my-sm-3">

   <h1>Contact</h1>
   <div class="row">
    <div class="col-12 col-md-6">
     <h4>Address:</h4>
     <address>
       <strong>GreenTech</strong>
       32, Drumul Gura Putnei<br/>
       Bucharest<br/>
       <abbr title="Telephone">T:</abbr><a href="tel:+40730078338">0730078338</a>
       <abbr title="Mail">M:</abbr><a href="mailto:draghici@gmail.com">draghici@gmail.com</a>
     </address>
   </div>
   <div class="col-12 col-md-6">
     <h4>Opening hours:</h4>
     <p>
      Monday-Tuesday: 10am - 6pm<br/>
      Friday-Saturday: 10am - 10pm<br/>
      Sunday: Closed<br/>
    </p>
  </div>
</div>
<div class="row">
 <div class="col-12 col-lg-6">
  <h4>Send us a message:</h4>
  <form action="#">
   <div class="form-group">
    <div class="row">
      <div class="col-12 col-sm-6">
     <label for="name">Name:</label>
     <input type="text" name="" id="name" class="form-control" required>
   </div>
 </div>
   <div class="form-group">
     <label for="name">Email:</label>
     <input type="email" name="" id="email" class="form-control" required>
   </div>
   </div>
 </form>
   <div class="row">
    <div class="col-12 col-sm-6">
   <div class="form-group">
     <label for="name">Telephone:</label>
     <input type="tel" name="" id="telephone" class="form-control">
   </div>
 </div>
   <div class="col-12 col-sm-6">
   <div class="form-group">
     <label for="name">Department:</label>
     <select id="select" class="form-control" aria-describedby="select-helpBlock" required>
       <option value="">-select here-</option>
       <option value="business">Business</option>
       <option value="sales">Sales</option>
       <option value="it">IT</option>
     </select>
   </div>
 </div>
     <small id="select-helpBlock" class="form-text">Select the recipient of your message.</small>
   </div>
   <div class="form-group">
     <label for="textarea">Message:</label>
     <textarea id="textarea" class="form-control" rows="5" required></textarea>
   </div>
   <button type="submit" class="btn btn-primary">Submit</button>
   <button type="reset" class="btn btn-secondary">Reset</button>
 </form>
</div>
</div>
<div class="col-12 col-lg-6">
<h4>Where to find us:</h4>
<div class="embed-responsive embed-responsive-4by3">
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.6175453420647!2d-73.98784413479707!3d40.748440379327945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9aeb1c6b5%3A0x35b1cfbc89a6097f!2sEmpire+State+Building%2C+350+5th+Ave%2C+New+York%2C+NY+10118%2C+USA!5e0!3m2!1sda!2sdk!4v1491841211721" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>
</div>

<!-- jQuery first, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>